
html, body {
    margin: 0 auto;
    height: 100%;
    padding: 0;
}

.upper-part{
    background-image: url(../img/garrett-parker.jpg);
    height: 765px;
}

.main_page{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 1440px;
}

.head{
    display: flex;
    background-color: rgba(242, 119, 92, 0.7);
    height: 90px;
    box-shadow: 0px 4px 4px 0 rgba(13, 96, 111, 0.5);
}

#main-logo{
    width: 216px; 
    height: 31px; 
    margin: 25px 0 34px 120px;
}

#mobile-icon{
    display: none;
}

.mobile-header{
    display: none;
}

.head, button{
    font-family: "Red Hat Text", sans-serif;
    font-size: 16px;
    font-weight:500;
    line-height: 21.17px;
    color: white;
}

.navigation{
    margin: 35px 196px 34px 158px;
}

.head-links{
    display: flex;
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}

.head-links li{
    padding-right: 42px;
}

.head-links li:last-child{
    padding-right: 0;
}

.login{
    width: 103px;
    height: 41px;
    color: white;
    border-radius: 10px;
    background-color: rgb(13, 96, 111);
    border: none;
    margin: 25px 120px 24px 0;
    box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.25);
}

.preview{
    color: white;    
    width: 892px;
    margin: 32px 0 0 120px;
    font-family: "Aleo", serif;
}

.preview h1{
    margin: 0;
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 32px;
}

.preview p{
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 46px;
}

.search-bar{
    width: 892px;
    height: 95px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
}

.search-bar input{
    box-sizing: border-box;
    width: 560px;
    height: 22px;
    margin: 32px 45px 41px 41px;
    border: none;
    background: none;
    outline: none;
}

.search-bar input{
    position: relative;
    bottom: 2px;
}

.search-bar input::placeholder, .search-bar input {
    overflow: visible;
    font-family: "Aleo", serif;
    font-weight: 400;
    line-height: 28.8px;
    font-size: 24px;
    font-style: italic;
    padding: 0;
    color: rgba(242, 120, 92, 1);
}

.search-bar button{
    box-sizing: border-box;
    width: 228px;
    height: 59px;
    background-color: rgba(13, 96, 111, 1);
    border: none;
    border-radius: 10px;
    font-family: "Red Hat Text", sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding: 13.5px 32.5px;
    margin: 18px 18px 18px 0;
}

.steps{
    margin: 80px 132px 97px 131px;
}

h2{
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: rgba(242, 120, 92, 1);
    margin: 0;
    text-align: center;
}

.icons-block{
    margin-top: 40px;
    display: flex;
    font-family: "Aleo", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: rgba(13, 96, 111, 1);
    justify-content: space-between;
}

.icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

#icon-two{
    position: relative;
    left: 30px;
}

.destinations{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.slider{
    display: flex;
    overflow: hidden;
    margin-top: 46px;
    width: 2520px;
    position: relative;
    left: -540px;
    margin-bottom: 24px;
}

#spain{
    background-image: url(../img/spain.jpg); 
    margin-right: 60px;
}

#japan{
    background-image: url(../img/japan.jpg); 
    margin-right: 60px;
}

#usa{
    background-image: url(../img/usa.jpg);
}

.destination-pic{
    width: 800px;
    height: 800px;
    border-radius: 16px;
    box-sizing: border-box;
    padding-top: 718px;
    padding-left: 15px;
}

.destinations span{
    display: inline-block;
    color: rgba(255, 255, 255, 1);
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 42.34px;
}

.pagination{
    display: flex;
    margin: 0 auto 40px;
}

#circle1{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgba(242, 120, 92, 0.5);
}

#circle2{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgba(242, 120, 92, 1);
    margin: 0 10px;
}

.button-more{
    margin: 0 auto;
    width: 228px;
    height: 59px;
    background-color: rgba(13, 96, 111, 1);
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(13, 96, 111, 0.16);
    box-shadow: 0 0 3px 0 rgba(13, 96, 111, 0.08);
    box-sizing: border-box;
    padding: 10px 32px;
}

#arrow-right{
    vertical-align: middle;
}

.button-more span{
    font-family: "Red Hat Text", sans-serif;
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 500;
    line-height: 31.57px;
    vertical-align: middle;
    margin-left: 10px;
}

.stories{
    margin-top: 80px;
}

.bottom-part{
    height: 1331px;
    background-image: url(../img/sea.jpg);
    margin-top: 40px;
}

.article-blocks{
    height: 1270px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 40px 117.5px 0;
}

.article{
    display: flex;
    margin-bottom: 30px;
}

.article img{
    height: 250px;
    border-radius: 16px;
    box-shadow: 0 4px 4px 0 rgba(13, 96, 111, 1);
}

.text-block{
    margin-left: 40px;
    color: rgba(13, 96, 111, 1);
    font-family: "Aleo", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.text-block h3{
    margin: 0 0 24px 0;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
}

.text-block a{
    font-weight: 700;
    color: rgba(13, 96, 111, 1);
}

.article-blocks button{
    margin-top: 10px;
}

#see-more{
    vertical-align: middle;
}

footer{
    margin-top: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21.17px;
    color: rgba(255, 255, 255, 1);
}

.empty1{
    width: 30%;
}

.empty2{
    width: 103.01px;
}

.soc-links{
    margin-right: 60px;
}

#insta{
    margin-right: 20px;
}

#video{
    margin-right: 20px;
}
